<div class="container-fluid" ng-app="angular_app">
  <div class="panel panel-success">
    <div ng-controller="UsersController">
			<li ng-repeat="user in users">
      	<h1>Hello, {{user.name}}. My password is {{user.password}}</h1>
			</li>
			<h2> {{message}}</h2>
    </div>
  </div>
</div>

